body{
	background-color: darkorange;
}
h1{
	font-family: 'Diploma', sans-serif;
	color: royalblue;
	font-size: 60px;
}
h2{
	font-family: 'Boldhead', sans-serif;                                                
	color: blueviolet;
	font-size: 50px;
}